@model FeedPostViewModel
    <form asp-action="Create" enctype="multipart/form-data" >
        <ul class="list-group" style="border:none">
            <li class="list-group-item" style="padding-top:2px; padding-left:5px;">
                <img src="" class="rounded float-left user-photo">
                <label></label>
               @Html.TextAreaFor(Model => Model.TextOnPublish ,htmlAttributes: new { @class ="form-control z-depth-1"})
            </li>
            <li class="btn btn-primary btn-sm float-left">
                <input type="file" name="File" class="btn btn-primary btn-sm float-left">
                <input type="submit" value="Create" class="btn btn-success float-right" />
            </li>
        </ul>
    </form>
