@model FeedIndexFeedBackViewModel
<form id="formFeedBack" method="post" asp-action="CreateFeedBack"  asp-controller="Feed" onsubmit="return FeedCreateFeedback(this)">
    <div class="list-group-item">
        <div class="media mt-3 shadow-textarea">
            <img class="user-photo d-flex rounded-circle avatar z-depth-1-half mr-3" src="~/Images/UserPhotos/DefaultUserPhoto.png"
                 alt="User Phto">
            <div class="media-body">
                <h5 class="nick-name mt-0 font-weight-bold blue-text">User Name</h5>
                <div class="form-group basic-textarea rounded-corners">
                    <textarea id="feedbacktext" asp-for="FeedBackText" class="form-control z-depth-1" rows="3" style="font-weight: 300;" placeholder="Write your comment..."></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    .media .avatar {
        width: 64px;
    }

    .shadow-textarea textarea.form-control {
        padding-left: 0.8rem;
    }
</style>

