@model FeedIndexViewModel
<li class="list-group-item" style="padding-top:2px; padding-left:5px;">
    <label></label>
    <label class="form-control"> @Model.TextOnPublish</label> 
    <img src="@Model."
</li>
