<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <img src="~/Images/UserPhotos/DefaultUserPhoto.png"  class="d-flex rounded-circle avatar z-depth-1-half mr-3" />
            </div>
            <div class="col-md-11">
                <p>
                    <a class="float-left" ><strong> CommentsUserName</strong></a>                 
                </p>
                <div class="clearfix"></div>                           
                <p>The first known instance of a rickroll occurred in May 2007 on /v/, 4chan's video game board, where a link to the Rick Astley video was claimed to be a mirror of the first trailer for Grand Theft Auto IV (which was unavailable due to heavy traffic).</p>    
            </div>
        </div>
        </div>
</div>