<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="~/bundles/jquery"></script>
        <script src="~/bundles/jqueryval"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/css/LayoutAuth.css" />
        <link href="~/css/Feed.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DevCommunity</a>
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <i class="fas fa-bell fa-lg"></i>
            <button asp-action="Index" asp-controller="Event" class="btn btn-default">
                <i class="fas fa-calendar fa-lg" aria-hidden="true"></i>
            </button>
            <label id="UserName"></label>
            <img src="~/Images/UserPhotos/DefaultUserPhoto.png" class="d-flex rounded-circle avatar z-depth-1-half mr-3" style="height:50px;padding-left:12px;" />
        </form>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <script>    
        $(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetUserPhoto","User")",
                contentType: "application/json; charset=utf-8",  
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        $(".user-photo").attr("src", response);
                    }
                    else {
                          $(".user-photo").attr("src","~/Images/UserPhotos/DefaultUserPhoto.png" );
                    }
                }
            })
        })
    </script>
</body>
</html>