<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="~/bundles/jquery"></script>
        <script src="~/bundles/jqueryval"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="~/css/LayoutAuth.css" />
        <link href="~/css/Feed.css" rel="stylesheet" />
    </environment>
</head>
<body> 
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">tsts</a>
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <i class="fas fa-bell fa-lg"></i>
            <img id=""  src="" class="rounded float-right user-photo" style="height:50px;padding-left:12px;" />
        </form>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <script>
        $(function () {
            $.get("@Url.Action("GetUserPhoto","User")", (data) => {
                $(".user-photo").attr("src", data);
            });
        });
    </script>
</body>
</html>